html {
	overflow: hidden;
}

body {	
	background-color: #141E2D;
	margin: 0;
}

#logo-img {
	transform:resize(100%);
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    position: absolute;
	left:25%;
	top:20px;
	width:50%;
	height:auto;
}

#sub_div {
	position:relative;
	padding-top:56.7%; 
	height:0;
}
	
#sub_prog {
	position: absolute;
	width: 48%; 
	height: 70%; 
	left: 51%; 
	top:30%; 
	margin: 0 0 0 -25%;
}

#bar_div{
	position:absolute;
	left:10px;
	top:10px;
	right:10px;
	bottom:10px;
}

.progress_bar{
    width: 101%;
	
	background-image:url(cover.jpg);
    transform:rotate(180deg);
}

.progress_container {
	width:8%;
	height:30%;
}

box {
	position:absolute;
	border:solid white;
	border-width:1px;
	border-radius: 10px;
    width:25vw;
}
box_text{
	position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

#podmornica-img {
	position:absolute;
	left:12.5%;
	top:9%;
	width:75%;
	height:auto;
}
#middle_cont {
	height:100vh;
	width:100vw;
}


.pbars {
	position: relative;
	background-color: rgba(0);
	border-radius: 3px;
	border: 1px solid #3ADD36;
	width:100%;
 	height:100%;
}

.percentage {
	overflow: visible !important;
	position: absolute;
	bottom: 0;
	background-color: #3ADD36;
	width: 100%;
	height: 0%;
}


.percentage > t {
	position: absolute;
	text-align:center;
    vertical-align: middle;
    color: white;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	font-family: 'Arvo', serif;
	
}

#para1 {
	top:1vh;
   height:7.5vh;
}
#para2 {
	top:10vh;
   height:28.5vh;
}
#para3 {
	top:40vh;
   height:48.5vh;
}
#para4 {
	top:90vh;
height:8.5vh;
}

#para5 {
	right:0px;
	top:10vh;
   height:28.5vh;
}
#para6 {
	right:0px;
	top:40vh;
   height:48.5vh;
}
#para7 {
	right:0px;
	top:90vh;
height:8.5vh;
}
#para8 {
	right:0px;
	top:1vh;
   height:7.5vh;
}  
